<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pusher</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/material.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Notifications</span>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <table class="messages-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <tbody>
            {% for each in messages %}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ each.content }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ each.level }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ each.created_at_natural }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    </div>
    <script src="{{ STATIC_URL }}js/material.min.js"></script>
    <script src="{{ STATIC_URL }}js/socket.io.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');
        socket.on('connect',function() {
          console.log('Client has connected to the server!');
        });
        socket.on('disconnect',function() {
          console.log('The client has disconnected!');
        });
        socket.on('message', function(msg) {
            console.log('Message received: ' + msg);
            var message = JSON.parse(msg);
            console.log('Message received: ' + message);
            var content = $('<td>').text(message.content);
            var level = $('<td>').text(message.level);
            var created_at_natural = $('<td>').text(message.created_at_natural);
            $('tbody').prepend($('<tr>').append(content).append(level).append(created_at_natural));
            $('tr:first td').addClass('mdl-data-table__cell--non-numeric');
        });
    </script>
  </body>
</html>
